body         { font-family: Lucida Sans Typewriter; font-size: 9pt; line-height: 125%; background-image:url('bg_rays.gif')
 			  }
h3           { font-family: Lucida Sans Typewriter; font-size: 11pt; letter-spacing: 1pt; 
               text-indent: 30px; margin-top: 20px; color: navy}
table        { font-family: Lucida Sans Typewriter; font-size: 9pt }
ul           { line-height: 125% }