vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Apr 2015 02:09:34 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|autotune.htm control_device.htm measurement_device.htm simple_scan.htm introduction.htm under_dev.htm command_centre.htm spcn_as_com_server.htm device_layer.htm synchronization_device.htm general_commands.htm menu.htm glossary.htm interpreter_commands.htm options.htm procedures.htm pca_classification.htm theoplot.htm uni_scan.htm run_menu.htm
vti_author:SR|THEO-PC\\User
vti_modifiedby:SR|THEO-PC\\User
vti_timecreated:TR|22 Apr 2015 12:55:53 -0000
vti_cacheddtm:TX|25 Apr 2015 02:09:34 -0000
vti_filesize:IR|395
vti_cachedlinkinfo:VX|S|bg_rays.gif
vti_cachedsvcrellinks:VX|FSUS|images/bg_rays.gif
